/* FONTS */
.fa {
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #fff !important;
}

.fa:hover {
    color: #fff;
    background-color: #1E8F89;
}

.fa-facebook-f:before, .fa-facebook:before {
    padding: 4px;
}

.fa-facebook {
    background: #2D2D30;
    color: white;
}

.fa-twitter {
    background: #2D2D30;
    color: white;
}

.fa-google {
    background: #2D2D30;
    color: white;
}

.fa-linkedin {
    background: #2D2D30;
    color: white;
}

.fa-youtube {
    background: #2D2D30;
    color: white;
}

.fa-instagram {
    background: #2D2D30;
    color: white;
}
/* END FONTS */
  
/* CUSTOM CSS */
#contact {
    text-align: center;
    /* padding: 0px; */
}

.artist {
    margin: 0 auto;
    float: none;
    margin-top: -65px;
}

.album {
    margin: 0 auto;
    float: none;
    margin-top: 4%;
    margin-bottom: 4%;
}

.container {
    padding: 80px 0px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 15px;
    margin-top: 50px;
}

.item {
    background-color: #000;
}

.full-screen {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 50px !important;  
}

.center {
    text-align: center;
}

.music {
    margin-top: 50px;
}

.social {
    padding: 0 !important;
}

.socialButton {
    margin-top: 25px;
}

.socialButtons {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

ul {
    text-align: right;
}

.dropdown-menu {
    background-color: #2d2d30;    
}

.modal-content {
    border: 4px solid #1E8F89 !important;
    border-left: none !important;
    border-bottom: none  !important;
}
#mc_embed_signup .button {
    background-color: #2d2d30;
    width: auto !important;
}
#mc_embed_signup .button:hover {
    background-color: #1E8F89;
}
#myModal {
    background-color: rgba(0, 0, 0, 0.7);
}

ol li {
    border-color: #fff;
}

ol li.active {
    background-color: #1E8F89;
    border-color: #1E8F89;
}

.carousel-control, .carousel-control {
    color: #1E8F89;
}

.carousel-control:focus, .carousel-control:hover {
    color: #fff;
}

hr {
    border-top: 5px solid #2d2d30
}

.blog {
    color: #2d2d30 !important;
}

.green {
    color: #1E8F89;
}

p {
    margin: auto !important;
}
.twitter-feed {
    max-width: 90%;
    margin: 0 auto;
}

/* END CUSTOM CSS */

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {
    color: #fff;
}
.bg-1 p {
    font-style: italic;
}

.thumbnail {
    border: none;
    border-radius: 1;
    padding: 10px;
}
.thumbnail p {
    margin-top: 10px;
    color: #555;
}
.strong {
    color: #1E8F89 !important;
    font-size: 2.5rem;
    font-style: italic;
}
strong {
    color: #1E8F89 !important;
}
.white, .gray {
    color: #fff;
}

.dark {
    background-color: #2d2d30;
}
.btn {
    padding: 12px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
    margin-top: 8px;
    margin-bottom: 4px;
}
.btn:hover, .btn:focus {
    border: 1px solid #2d2d30;
    background-color: #1E8F89;
    color: #fff;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: #777;
} 
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a {
    font-weight: 600;
}

.navbar-brand {
    margin-top: -5px;
}

.navbar li a, .navbar .navbar-brand, h2, h3 { 
    color: #1E8F89 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
    background-color: #29292c !important;    
}
.navbar-nav li.active a {
    color: #fff !important; 
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #29292c !important;
}
.dropdown-menu li a {
    color: #1E8F89 !important;
}
.dropdown-menu li a:hover {
    background-color: #29292c !important;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
}
footer a {
    color: #1E8F89;
}

.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.image--cover {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 30px;
  
    border: 2.5px solid #1E8F89;
    
    object-fit: cover;
    object-position: left;
  }

.purchase {
    padding: 8%;
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
}

.video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .video-thumbnail:before {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f04b";
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  .video-thumbnail:hover:before {
    color: #eee;
  }

@media(max-width: 768px) {
    .container {
        padding: 30px 12px;
    }

    .thumbnail {
        margin: 0 auto;
    }

    .first {
        background-position-x: 65%
    }

    .second {
        background-position-x: 35%
    }

    .third {
        background-position-x: 25%
    }

    .fourth, .fifth, .sixth {
        background-position-x: 95% !important;                
    }

    .fa {
        padding: 15px;
    }

    .socialButtons {
        margin-top: 20px;
    }

    h2, h3 {
        font-size: 2rem;
    }

    .artist {
        margin-top: 0px;
    }

    .floatLeft {
        float: none;
    }
    .floatRight {
        float: none;
    }

    .full-screen {
        background-size: cover;
    }

    .video-thumbnail:before {
        font-size: 75px;
    }
}

@media(max-width: 450px) {
    .thumbnail {
        max-width: 80%;
        margin: 0 auto;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .video-thumbnail:before {
        font-size: 50px;
    }
}